* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --colorprimario: #FFFDD0;
    --colorsecundario: #404040;
    --colortexto: #57381b;
    --colorblanco:  #ffffff;
    --fuente-primaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: var(--fuente-primaria);
  }

  body {
    font-family: var(--fuente-primaria);
    background-color: var(--colorprimario);
    color: var(--colortexto);
    line-height: 1.4;
    margin-top: 70px;
  }

.navbar {
    background-color:var(--colorprimario);
    color: var(--colortexto);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
  }
  
  .navbar__links a,
  .navbar__links button,
  .navbar_selector {
    color: var(--colortexto);
    text-decoration: none;
    margin: 0 0.7rem;
    font-size: 1.2rem;
  }

  .navbar_selector{
  margin-left: 70rem;
  background-color: var(--colorprimario);
  }

  .navbar_toggle {
    background: transparent;
    border: 2px solid var(--colortexto);
    color: var(--colortexto);            
    font-size: 2rem;
    border-radius: 3px;
    cursor: pointer;
    display: none;
  } 

  
  .header {
    background-color: var(--colortexto);
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .header h1 {
    color: var(--colorblanco);
    font-size: 3.5rem;
    margin-bottom: 0.5rem;

  }
  
  .header p {
    font-size: 1.2rem;
    color: var(--colorblanco);
    font-family: 'Courier New', Courier, monospace;
  }
  
  .header_img {    
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 2rem;
    opacity: 0.7;
    object-position: bottom;
  }

  .main_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    margin-top: 5rem;
  }

  .noticias,
  .opiniones {
    background-color: var(--colorblanco);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--colortexto);
    padding: 2rem 6rem;
    max-width: 50rem;
  }
  
  .noticias h2,
  .opiniones h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--colortexto);
  }
  
  .noticia,
  .opinion {
    margin-bottom: 1rem;
  }
  
  .noticia h3 {
    font-size: 1.2rem;
    color: var(--colortexto);
  }
  
  .opinion p {
    font-style: italic;
  }

  .contacto {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 2rem 1rem;
    justify-content: center;
  }
  
  .contacto_form,
  .contacto_mapa {
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    background-color: var(--colorblanco);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--colortexto);
  }
  
  .contacto_form h2,
  .contacto_mapa h2 {
    margin-bottom: 1rem;
    color: var(--colortexto);
    font-size: 1.5rem;
  }
  
   .check_privacidad {
     text-align: center;
  }

  form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  
  form select {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--colortexto);
  }

  form input,
  form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid var(--colortexto);
    border-radius: 4px;
    font-size: 1rem;
  }
  
  form button {
    margin-top: 1.5rem;
    background-color: var(--colortexto);
    color: var(--colorblanco);
    border: none;
    padding: 0.75rem;
    width: 100%;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: var(--colorsecundario);
    transition: 0.7s;
  }

  .nosotros {
    background-color: var(--colortexto);
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .nosotros_img{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    opacity: 0.7;
  }

 .nosotros img{
    max-width: 600px;
 }
  .nosotros h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--colorprimario);
    text-align: center;
  }
  
  .nosotros p {
    font-size: 1.1rem;
    color: var(--colorprimario);
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
  }

  .expertos h3{
    font-size: 2rem;
    text-align: center;
  }

  .expertos ul {
    max-width: 500px;
    display: grid;
    grid-template-columns: 500px 500px 500px 500px;
    gap: 2rem;
    list-style: none;
    margin: 10rem;
    padding: 0;
    margin-top: 2rem;
  }
  
  .expertos li {
    background-color: var (--colorprimario);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px var(--colortexto);
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .expertos li:hover {
    transform: scale(1.03);
  }
  
  .expertos li strong {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--colortexto);
  }
  
  .expertos_img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 70%;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px var(--colortexto);
  }

  .login{
    margin-top: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .login_title{
    margin-left: 3rem;
  }

  .ojito{
    width: 40px;
    height: 40px;
    box-shadow: 0 0px 8px var(--colortexto);
    border-radius: 70%;
  }

  .login_form{
    flex: 1;
    max-width: 500px;
    background-color: var(--colorblanco);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--colortexto);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 5rem;
    justify-content: center;
    text-align: center;
  }

  .footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--colortexto);
    color: var(--colorprimario);
    margin-top: 5rem;

  }
  
  .footer a {
    color: var(--colorprimario);
    margin: 0 0.5rem;
    text-decoration: none;
  }


  @media only screen and (max-width : 1000px) {

     .main_container{
        flex-direction: column;
        gap: 3rem;
        padding: 2.5rem;
      }

     .nosotros_img{
        flex-direction: column;
        padding: 5rem;
      }

    .expertos ul {
        grid-template-columns: 400px;
        padding: 3rem;
      }

    .login_form{
        max-width: 400px;
        padding: 1rem;
        gap: 1rem;
    }
    }

  @media (max-width: 768px) {

    .navbar__links{
      display: none;
      flex-direction: column;
      background-color: var(--colorprimario);
      position: absolute;
      top:60px;
      right: 0;
      width: 100%;
    }

    .navbar__links--active{
      display: flex;
    }

    .navbar_toggle{
      display: block;
    }

    .navbar_link{
      padding: 1rem;
      text-align: center;
      border-bottom: 1px solid var(--colortexto);
    }

    .navbar_selector{
     display: none;
    }

    .main_container{
        flex-direction: column;
        gap: 3rem;
        padding: 2.5rem;
      }

    .nosotros_img{
        flex-direction: column;
        padding: 1rem;
      }

    .expertos ul {
        grid-template-columns: 400px;
        margin: 2.5rem;
        padding: 1rem;
      }

    .login_form{
        max-width: 400px;
        padding: 1rem;
        gap: 1rem;
    }

  }
